<br><br><div id="newlink">
<%= link_to 'Click here to upload new file', new_upload_path %>
</div><br>

<!-- <h1>Your personal files</h1> -->

<br><hr>

<table id="mainlist">

<% @uploads.each do |upload| %>

<tr><td class="entry_left">
    
		<div class="description_heading">Description:</div>
		<div class="description">
			<%= upload.description %>
		</div>

		<b>
		</b>
		
	</td><td>
		
		<table class="filedetails">
		<tr><td class="det_l">Date:</td><td class="det_r"><%= upload.uploaddate.strftime("%d/%m/%Y, %H:%M:%S") %></td></tr>
		<tr><td class="det_l">Filename:</td><td class="det_r"><%= upload.filename %></td></tr>
		<tr><td class="det_l">Filesize:</td><td class="det_r"><%= number_with_precision((upload.filesize)/(1024*1024), :precision => 2) %> MB</td></tr>
		<tr><td class="det_l">Counter:</td><td class="det_r"><%= upload.counter %></td></tr>
		</table>

	</td><td class="entry_right c">
	
		<%= button_to 'Download', upload_download_path(upload) %>
		<%= link_to 'Edit', edit_upload_path(upload) %> | <%= link_to 'Destroy', upload, :method => :delete, :data => { :confirm => 'Are you sure?' } %>

	</td></tr>

<tr><td colspan="3"><hr></td></tr>

<% end %>
</table>

<br />


