<% if current_user.admin? %>
I'M ADMIN
<% end %>
<br><div id="newlink">
<%= link_to 'Click here to upload a new file', new_upload_path %>
</div><br>

<br><% if not @uploads.empty? %> <hr> <%end%>

<table id="mainlist">

<% if @uploads.empty? %>
	<tr style="width: 100%; text-align: center"><td><br><i>No files have been uploaded so far... Why not upload the first one?</i></td></tr>
<% end %>

<% @uploads.sort_by{|e| e.uploaddate}.reverse.each do |upload| %>

<tr><td class="entry_left">
    
		<div class="description_heading">Description:</div>
		<div class="description">
			<%= upload.description %>
		</div>

		<b>
		</b>
		
	</td><td>
		
		<table class="filedetails">
		<tr><td class="det_l">Date:</td><td class="det_r"><%= upload.uploaddate.strftime("%d/%m/%Y, %H:%M:%S") %></td></tr>
		<tr><td class="det_l">Filename:</td><td class="det_r"><%= upload.filename %></td></tr>
		<tr><td class="det_l">Filesize:</td><td class="det_r"><%= number_with_precision((upload.filesize)/(1024*1024), :precision => 2) %> MB</td></tr>
		<tr><td class="det_l">Counter:</td><td class="det_r"><%= upload.counter %></td></tr>
		</table>

	</td><td class="entry_right">
	
		<%= button_to 'Download', upload_download_path(upload) %>
		<span class="crud_link"><%= link_to 'Edit', edit_upload_path(upload) %> | <%= link_to 'Delete', upload, :method => :delete, :data => { :confirm => 'Are you sure?' } %></span>

	</td></tr>

<tr><td colspan="3"><hr></td></tr>

<% end %>
</table>

<br />


