<!DOCTYPE html>
<html>

<head>

  <title>Your personal Files</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<div id="header">&nbsp;Your very personal File Hoster</div>


<div id="nav">
	<br><br>
	<a href="/">Compact Overview</a><br><br>
	<a href="<%= uploads_path %>">Detailed Overview</a><br><br><br>
	<%= button_to 'Logout', application_logout_path(1) %><br>
	<a href="<%= edit_user_registration_url %>"><i>my account</i></a><bR><bR>
	<% if current_user.try(:admin?) %>
		<hr>
		<a href="<%= allusers_url %>">Manage All Users</a>
	<% end %>
</div>

<div id="main">
	<% if not notice.blank? %>
		<p class="notice"><%= notice %></p>
	<% end %>
	<% if not alert.blank? %>
		<p class="alert"><%= alert %></p>
	<% end %>

	<%= yield %>

</div>

</body>
</html>
